.LargeCard {
  height: 500px;
  width: 90%;
  background-color: #fff;
  margin-bottom: 20px;
}

.cardTitle {
  height: 10%;
  padding-left: 20px;
  padding-top: 20px;
}

.cardContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 95%;
}
