.arrowDown {
  font-size: 14px;
  float: right;
}

.sideNav a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.sideNav a:active {
  box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
  background: linear-gradient(#334556,#2C4257),#2A3F54;
}
