.sideNav {
  width: 15%;
  min-width: 200px;
  background-color: #2A3F54;
  color: white;
  padding-top: 15px;
  box-sizing: border-box;
}

.sideNavTitle {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.sideNavUser {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 20px;
}

.sideMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
}

#userImg {
  border-radius: 100%;
  padding-right: 10px;
}

.fa {
  padding-right: 10px;
  font-size: 20px;
}
